
<div class="text-center">
    <h2>Books</h2>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="./images/refactoring.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Refactoring: Improving the Design of Existing Code (2nd Edition)</h5>
      <p class="card-text">Whenever you read Refactoring, it’s time to read it again. And if you haven’t read it yet, please do before writing another line of code.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">$19.99</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./images/the-clean-coder.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">The Clean Coder: A Code of Conduct for Professional Programmers</h5>
      <p class="card-text">Programmers who endure and succeed amidst swirling uncertainty and nonstop pressure share a common attribute: They care deeply about the practice of creating software. They treat it as a craft. They are professionals.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">$34.99</small>
    </div>
  </div>
