<div class="text-center">
    <h2>
        Heres what's in your cart.
    </h2>
</div>

<div class="card-group">
  <div class="card">
    <div class="card-header">Cart Items: </div>
    <div class="card-body">
      <p class="card-text">Cart items go here.</p>
    </div>

    <div class="card-footer">
        <a href="/">Back to homepage</a>
    </div>
  </div>

  <div class="card">
        <div class="card-header">Cart total: </div>
    <div class="card-body">
      <p class="card-text">Price of items go here</p>
    </div>

    <div class="card-footer">
        <a href="#">Proceed to checkout</a>
    </div>
  </div>
    </div>
  </div>
</div>