<div class="text-center">
    <h2>Games</h2>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="./images/mostop-3d.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">MOSTOP 3D and 2D Arcade Video Game Console</h5>
      <p class="card-text">    2680 Games in 1 Pandora\'s Box 180 3D Games 1080P HD 2 Players Arcade Machine with Double Joystick Support Expand 6000+ Games
</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">$235.99</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./images/super-mario-party.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Super mario Party</h5>
      <p class="card-text">Outwit friends and family as you race across the board; whoever gets the most stars wins!
        Play the original 4-player Mario Party series board game mode locally* or online**
        Character-specific Dice Blocks with alternate numberings add another level to your strategy
        Dozens of exciting minigames packed with wildly different challenges—now with newly-added online*** play
        Pair two Nintendo Switch systems, lay them flat, and creatively combine both screens to enjoy a different, interactive style of tabletop gaming in Toad’s Rec Room mode.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">$34.99</small>
    </div>
  </div>

