<div class="text-center">
    <h2>Music</h2>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="./images/fifty-classical.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">The 50 Greatest Pieces of Classical Music (MP3)</h5>
      <p class="card-text">Great classical pieces from London Philharmic.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">$5.99</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./images/essential-mozart.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Essential Mozart (MP3)</h5>
      <p class="card-text">This is some of Mozarts main pieces.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">$11.49</small>
    </div>
  </div>

