<div>
    <h2>Create an account!</h2>
    <form>
      <label for="fname">First Name:</label>
      <input type="text" id="fname" name="fname"><br>
      <label for="lname">Last Name:</label>
      <input type="text" id="lname" name="lname"><br>
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email"><br>
      <label for="username">Username:</label><br>
      <input type="text" id="username" name="username"><br>
      <label for="password">Password:</label><br>
      <input type="text" id="password" name="password"><br>
      <p>Would you like to be a seller as well?</p>
      <input type="radio" id="yes" name="yes" value="yes">
      <label for="yes">Yes</label>
      <input type="radio" id="no" name="no" value="no">
      <label for="no">No</label>
      <input type="submit" value="Submit">
    </form>

    <p>Already have account? Sign up here!</p>
</div>