<div class="text-center">
    <h2>Toys</h2>
</div>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="./images/faux-bow.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Faux Bow</h5>
      <p class="card-text">Shoots Over 100 Feet - Foam Bow and Arrow Archery Set (Lizardite)</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">$34.99</small>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="./images/fishing-bath-toy.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Munchkin Fishing Bath To</h5>
      <p class="card-text">Bath toy set contains (1) magnetic fishing rod and (3) underwater bobbing characters
        Characters float with magnets on top for easy fishing
        Characters are air tight, helping to limit mold and mildew
        Magnetic bobbers help develop hand eye coordination
        Suitable for little boys and girls 24 months and up; Care and cleaning: Rinse with warm water, wipe clean, hand wash, air dry</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">$7.73</small>
    </div>
  </div>
</div>